.pic{
    width: 50%;
    height: 50%;
    cursor: crosshair;
}
body{
    background-color: azure;
}
h1{
    color: cadetblue;
}
h1:hover{
    color: chartreuse;
}
li{
    border: 2px solid black;
    text-align: center;
}
li:hover{
    border-bottom-color: aqua;
    border-style: dotted;
    text-align: right;
}
p{  
    
    border: 2px dashed black;
    font-size: 14px;
    font-family: cursive;
    text-align: justify;
}
b{
    color: coral;
}
em{
    color: coral;
    font-style: italic;
}
u{
    color: coral;
    border-bottom: 2px solid red;
}
